.env
.cache
dist
a.out
src/webui/main.wasm
pnpm-lock.yaml
src/exec/a.bin

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/ares
!/ares/src/webui/assets/gif-box.png
/ares_test
/ares_afl
/ares_libfuzzer
/ares_test
/*.profdata
/*.profraw
/.vercel
/fuzz/
/node_modules
/coverage_report
/compile_commands.json
/lcov.info



/src/test/test_main.c
.vercel
