[submodule "ares/src/exec/ezld"]
	path = ares/src/exec/ezld
	url = https://github.com/Alessandro-Salerno/ezld

[submodule "ares/src/unity"]
	path = ares/src/unity
	url = https://github.com/ThrowTheSwitch/Unity
