Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
NamespaceIndentation: All
AllowShortLambdasOnASingleLine: true
BreakBeforeBinaryOperators: None
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
