@tailwind base;
@tailwind components;
@tailwind utilities;

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 200;
  src: url('./assets/font.woff2') format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

@supports (width: 100dvw) {
  .fullsize {
    width: 100dvw;
    height: 100dvh;
  }
}

@supports not (width: 100dvw) {
  .fullsize {
    width: 100vw;
    height: 100vh;
  }
}

.gif-box-icon {
  display: block;
}

:root[data-theme="dark"] .gif-box-icon {
  filter: invert(1);
}
